
    .toggle_component {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: $width-toggle-component;
        height: $height-toggle-component;
        background-color: red;
        display: none;

    }
    .boats {
        grid-area: boats;
        // position: fixed;
        top: 0;
        left: 0;
        background-color: $color-bg-boats2;
        overflow-y: scroll;
        color: white;
    }
    
    .open{
        width: 90vh;
        height: 100vh;
        display: block;;
        transform: translate(-340px, 0);
    }


    