
.sidebar__open {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: $width-sidebar-open;
    height: $height-sidebar-open;
    background: $color-nav2;
    border-radius: 50%;
    display: none;

    .fa-chevron-left {
        font-size: 3.2rem;
        padding-left: 9px;
        line-height: $height-sidebar-open;
        color: white;
        font-weight: bold;
    }
}

.boats {
    grid-area: boats;
    padding: 20px 20px 0;
    background-color: $color-bg;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .boatsTitle {
        @include between;
        position: relative;
        width: 100%;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3rem;

        .escape {
            position: absolute;
            transition: .3s;
        }

        .title {
            margin-left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .boatsList {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        background-color: $color-boats-list;
        border: none;
        border-radius: 6px;
        font-size: 1.9rem;
        overflow-y: auto;
        justify-content: center;
    }
}

.open {
    transform: translate(-100%, 0);
    z-index: 2;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #000b22;
}

::-webkit-scrollbar-thumb {
    background: $color-scroll;
    border-radius: 10px;
    transition: 0.3s;
}
