.login {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: 
    "logo form";
    width: 100%;
    height: 100vh;
    justify-items: stretch;
    padding: 2.5%;
    background-color: rgb(78, 87, 99);
    overflow: hidden;
}
.logo {
    grid-area: logo;
    background-color: rgb(43, 160, 199);
    border-radius: 60px 0 0 60px;
    display: flex;
    justify-content: center;
    
    &__icon {
        font-size: 3.2rem;
        width: 10em;
        height: 10em;
        overflow: hidden;
        position: relative;
        top: 12%;
        
        span {
            width: 100%;
            height: 3em;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform-origin: 50% 100%;
            transform: translate(-50%, 0);
            overflow: hidden;
            z-index: 2;

            /* //fale */
            &:before,
            &:after {
                content: "";
                width: 60em;
                height: 60em;
                border-radius: 29em;
                background: rgba(255, 255, 255, 0.9);
                display: block;
                position: absolute;
                left: 50%;
                top: 2.1em;
                transform: translate(-50%, 0) rotate(0deg);
                animation: logo-icon-wave 5s 0s infinite linear;
            }
            
            &:after {
                transform: translate(-50%, 0.2em) rotate(30deg);
                animation-duration: 5.2s;
                background: rgba(#fff, 1);
            }
        }
    }
}
    
/* //lodka */
.logo__icon i {
    content: "";
    width: 5.2em;
    height: 0;
    display: block;
    border: 1em solid transparent;
    border-top-color: #fff;
    border-top-width: 1.5em;
    transform: translate(-50%, 0);
    position: absolute;
    bottom: -0.3em;
    left: 50%;
    animation: logo-icon-boat 3.2s 0s infinite alternate ease-in-out;

    /* //zagiel drag */
    &:before {
        content: "";
        border-radius: 0.3em;
        width: 0.3em;
        height: 4em;
        background: #fff;
        position: absolute;
        left: 50%;
        bottom: 1.1em;
        transform: translate(-50%, 0);
        }

    /* //zagiel */
    &:after {
        content: "";
        width: 0;
        height: 0;
        border: 1.6em solid transparent;
        border-bottom-color: rgba(255, 255, 255, 0.6);
        border-width: 0 3em 4em 3em;
        position: absolute;
        left: 50%;
        bottom: 1.8em;
        transform: translate(-50%, 0) scaleX(-0.8);
        animation: logo-icon-zagiel 1.2s 0s infinite linear alternate-reverse;
    }
}

@keyframes logo-icon-boat {
    0% {
        transform: translate(-50%, 10%) rotate(-5deg);
    }
    25% {
        transform: translate(-50%, 0%) rotate(3deg);
    }
    50% {
        transform: translate(-50%, 0%) rotate(-5deg);
    }
    75% {
        transform: translate(-50%, 0%) rotate(3deg);
    }
    100% {
        transform: translate(-50%, 10%) rotate(5deg);
    }
    }
    @keyframes logo-icon-wave {
    100% {
        transform: translate(-50%, 0) rotate(360deg);
    }
    }
    @keyframes logo-icon-zagiel {
    0% {
        transform: translate(-50%, 0) scaleX(-0.8);
    }
    100% {
        transform: translate(-50%, 0) scaleX(-0.65);
    }
}
//FORMULARZ

.form {
    grid-area: form;
    background-color: rgb(255, 255, 255);
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    &__title {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(73, 145, 169);
    }

    &__subtitle {
        padding: 3px 0 100px 10px;
        font-size: 2.7rem;
        font-weight: 700;
        color: rgb(73, 145, 169);
    }

    &__text {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 0;
    }

    .user__name,
    .password {
        padding: 15px;
        margin: 7px 0 30px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        display: block;
        width: 100%;
    }

    .btn {
        display: flex;
        justify-content: center;

        &__login {
            background-color: rgb(73, 145, 169);
            padding: 15px 30px;
            width: 50%;
            color: #fff;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }
    }
}

