@media (max-width: 576px) {
    .login {
        height: 100%;
    }
    .form {
        padding: 25px 20px;
        .reset {
            font-size: 2.9rem;
            text-transform: uppercase;
            padding-bottom: 1.4em;
        }
    
        .password__reset {
            padding: .7em;
            margin: .35em 0 .95em;
        }
    
        .btn__reset {
                margin-top: .8em;
        }
    }
}

@media (min-width: 577px) {
    .login {
            height: calc( 100vh - $height-nav-desktop);
        .form {
            .reset {
                padding-bottom: 1.4em ;
            }

            .password__reset {
                padding: 1em;
                margin: .35em 0 2em;
            }
        }
    }
}   

