.container__user {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $height-nav-desktop 1fr;
  grid-template-areas: 
    "nav"
    "main";
  justify-items: stretch;
  width: 100%;
  height: 100vh;
  background-color: $color-bg;
}

@media (max-width: 576px) {
  .wrapper__user {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr  10fr 0fr;
    grid-template-areas: 
      "tools map boats";
    justify-items: stretch;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    overflow: hidden;
    
    .boats { 
      position: fixed;
      left: 100vw;
      height: 100%;
      width: $width-boats-mobile;
      transition: all .4s ease-in-out;
    }

    .boatsList {
      margin-bottom: 50px;
    }

    .escape {
      display: inline-block;
    }
    
    .sidebar__open {
      display: inline-block;
    }
  }
}

@media (min-width: 577px) {
  .wrapper__user {
    grid-area: main;
    display: grid;
    grid-template-columns: 0.1fr 7fr 3fr;
    grid-template-areas: 
      "tools map boats";
    justify-items: stretch;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    overflow: hidden;

    .escape {
      display: none;
    }
  }
}
