.map {
    grid-area: map;
    background-color: yellow;
    height: 100%;
    display: inline-block;
}

//   const center = {
//     lat: 54.35,
//     lng: 18.667
//   };

//   center={center}
//   zoom={10}