@import "reset.scss";


@import "settings/colors";
@import "settings/component_height";
@import "settings/fonts";
@import "settings/mixins";
@import "settings/btn";

@import "components/Admin.scss";
@import "components/AdminBoats.scss";
@import "components/AdminTools.scss";
@import "components/Boat.scss";
@import "components/Boats.scss";
@import "components/Login.scss";
@import "components/LoginReset.scss";
@import "components/Main.scss";
@import "components/Map.scss";
@import "components/Nav.scss";
@import "components/Tools.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}
  
  body {
    font-family: $font-main;
  }

      