$color-active-boat: #5f7e92;
$color-bg: #20282D;
$color-boats-list: rgba(255, 255, 255, .1);
$color-boat: #565f64d0;
$color-nav: rgba(173, 173, 173, 0.157);
$color-scroll: #4f6294;
$color-sidebar: #11101D;
// $color-sidebar: rgb(00, 19, 22);
// $color-sidebar: rgb(18, 39, 47);
// $color-sidebar: rgb(0, 25, 34);
// $color-sidebar: rgba(5, 20, 29, 0.65);
// $color-sidebar: rgb(68, 77, 83);

$color-btn: #565f64d0;
$color-btn2:  rgb(187, 73, 73);
$color-btn2-active: rgb(195, 143, 143);
$color-btn-active: rgb(77, 161, 91);
$color-container: #35a0c5;
$color-gradient: linear-gradient(145deg, #78aee4, #13d45d);
$color-nav2: #181D21;

$color-users: #333333;