$color-bg-boats: rgb(44, 44, 68);
$color-bg-boats2: #20282D;
$color-btn: rgb(67, 165, 83);
$color-btn2:  rgb(187, 73, 73);
$color-btn2-active: rgb(195, 143, 143);
$color-btn-active: rgb(77, 161, 91);
$color-gradient: linear-gradient(145deg, #78aee4, #13d45d);
$color-nav: #aaaaaa ;
$color-nav2: #181D21;
$color-tools: grey;

$color-users: #333333;