$height-nav-desktop: 5rem;
$height-nav-mobile: 4rem;
$height-tools-desktop: 6rem;
$height-tools-mobile:  5.7rem;
$height-sidebar-open: 7rem;
$width-tools: 60px;
$width-boats-mobile: calc(100vw - $width-tools);
$width-sidebar-open: 7rem;



